body {
  background-image: url(./food.jpg);
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 55px;
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  /* margin-left: 20%; */
  margin-top: 10%;
}

h2 {
  font-size: 30px;
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  /* margin-left: 24%; */
  margin-top: 0%;
}

h4 {
  font-size: 20px;
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  /* margin-left: 24%; */
  margin-top: 0%;
}

#root {
  background-color: rgba(139,96,74, 0.6);
  width: 40%;
  margin-left: 10%;
  margin-top: 10%;
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 80px;
  padding-right: 80px;
  text-align: center;

}